header {
  background-color: #ff9a22;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
span {
  margin-top: 10px;
  font-size: 35px;
  color: #fff;
  font-family: "Lilita One", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.menu-icon {
  margin-right: 1rem;
  display: none;
  height: 35px !important;
}
.logo-icon{
  height: 35px !important;
}
.box-links {
  display: flex;
  gap: 4rem;
}
.links {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.link-menu {
  position: relative;
}
a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .links {
    gap: 2.5rem;
  }
}
@media only screen and (max-width: 700px) {
  .links {
    display: none;
  }
  .menu-icon {
    display: inline;
  }
  button {
    width: 100px;
  }
  .logo {
    gap: 0.6rem;
  }
}

@media only screen and (max-width: 600px) {
  header {
    height: 4rem;
    padding: 0 1rem;
  }
  .menu-icon {
    margin-right: 0.2rem;
  }

  .logo img {
    width: 25px !important;
    height: 25px !important;
  }
  span {
    font-size: 25px;
    margin-top: 6px;
  }
  .links {
    gap: 1rem;
  }
  a {
    display: none;
  }
}
