<app-touch-invisible
  [open]="openMenuMeusPets"
  (eventClick)="openMenuMeusPets = false"
></app-touch-invisible>
<header id="header">
  <div class="logo">
    <img
      class="menu-icon"
      src="/assets/icons/menu.svg"
      alt=""
      (click)="clickOpenWindowMenu()"
    />

    <img [routerLink]="['/home']" class="logo-icon" src="/assets/icons/logo.svg" alt="" srcset="" />
    <span [routerLink]="['/home']">Adopet</span>
  </div>
  <div class="box-links">
    <div class="links">
      <a [routerLink]="['/home']">Adotar Pet</a>
      <div class="link-menu">
        <a (click)="clickOpenMenuMeusPets()" class="link-menu-meus-pets"
          >Meus Pets</a
        >

        <app-menu-meus-pets
          [openMenu]="openMenuMeusPets"
          (eventCloseMenu)="clickCloseMenuMeusPets()"
        ></app-menu-meus-pets>
      </div>
    </div>
    <app-button
      *ngIf="!btnLogout"
      (clickEvent)="onClickLogin()"
      type="secondary"
      text="Login"
    ></app-button>
    <app-button
      *ngIf="btnLogout"
      (clickEvent)="onClickLogout()"
      type="secondary"
      text="Logout"
    ></app-button>
  </div>
</header>
