header{
  background-color: #FF9A22;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.0rem;
}
span{
  font-size: 32px;
  color: #FFF;
  font-family: 'Lilita One', sans-serif;
}
.menu-icon{
  cursor: pointer;
  margin-right: 1rem;
  display: none;
  height: 30px;
  & svg{
    width: 30px !important;
    height: 30px !important;

  }
}


.logo{
  display: flex;
  align-items: center;
  gap: 1rem;

  & img{
    height: 30px !important;
  }
}
.box-links{
  display: flex;
  gap: 4rem;
}
.links{
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  gap: 4rem;
}
.link-menu{
  position: relative;
}
a{
  text-decoration: none;
  color: #FFF;
  font-size: 1rem;
  cursor: pointer;
  
}

@media only screen and (max-width: 800px) {

  .links{

    gap: 2.5rem;

  }
}
@media only screen and (max-width: 700px) {

  .links{

    display: none;

  }
  .menu-icon{
    display: inline;
  }
  button{
    width: 100px;


  }
  .logo{

    gap: .6rem;
  }
}

@media only screen and (max-width: 600px) {
  header{
    height: 4rem;
    padding: 0 1rem;
  }
  .menu-icon{
    margin-right: 0.2rem;

  }

  .logo img{
    width: 25px;
    height: 25px !important;
  }
  span{
    font-size: 25px;
  }
  .links{

    gap: 1rem;

  }
  a{
    display: none;
  }
}
