* {
  font-family: "Inter", sans-serif;
  color: #474747;

}
input {
  border-radius: 4px;
  padding: 10px 21px;
  border: none;
  outline: none;
  background-color: #f7f7f7;
  width: 100%;
  height: 40px;
  font-size: 1rem;

  &::placeholder {
    font-size: 1rem;
  }
}
input[type='number']{
    padding: 10px 21px;

}
label{
  cursor: pointer;
  font-size: 14px;
}
select {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  border-radius: 4px;
  padding: 10px;
  background-color: #f7f7f7;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  color: #474747;
}
option{
  color: #474747;
  font-size: 1rem;
}
input.alert, select.alert{
  border: 1px solid rgba(255, 0, 0, 0.479);
}
input[type="checkbox"] {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
input[fullHeigth="true"] {
 
  height: 100%;
  width: 100%;
}

div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (max-width: 600px){
  option{
    font-size: .7rem;
  
  }
}
