<input
  *ngIf="type === 'text' || type === 'number' || 'password'"
  (click)="markAsTouched()"
  [(ngModel)]="value"
  [ngClass]="{ alert: isInvalid }"
  (ngModelChange)="change()"
  [mask]="myMask"
  [type]="type"
  [placeholder]="placeholder"
/>
<div>
  <input
    *ngIf="type === 'checkbox'"
    type="checkbox"
    [(ngModel)]="value"
    [id]="labelCheckBox"
    (ngModelChange)="change()"
  />
  <label
    *ngIf="labelCheckBox"
    [for]="labelCheckBox"
    [attr.fullHeigth]="fullHeigth"
    >{{ labelCheckBox }}</label
  >
</div>
<select
  *ngIf="type === 'select'"
  [ngClass]="{ alert: isInvalid }"
  [(ngModel)]="value"
  (change)="change()"
>
  <option value="">{{ labelSelect }}</option>
  <option *ngFor="let option of options" [value]="option">
    {{ option }}
  </option>
</select>


