<app-header></app-header>
<main>
  <div class="content">
    <div class="box-texts">
      <div class="text">
        <div>
          <span class="title">ADOTE UM PET</span>
        </div>
        <div>
          <span class="subtitle">GANHE UM COMPAHEIRO!</span>
        </div>
      </div>
      <div class="box-button">
        <app-button type="primary" text="Login"></app-button>
        <p>Adote um amigo, é <strong>GRATUITO</strong>!</p>
      </div>
    </div>
  </div>
  <div class="img-box">
    <img src="/assets/img/dog1.svg" alt="" />
  </div>
</main>
