:host{
    &:active {
        background-color: transparent;
    } 
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 5px 10px gray;
}
svg{
    position: absolute;
    left: 20%
}
div{
    background-color: #ff9c22 !important;
    padding: 15px;
    height: 80px;
    width: 80px;
 
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    &:hover{
        background-color: #4747471e;
    }
  
}
