.cards-box {
    width: 100%;
    height: auto;
    padding: 2rem 5rem 0 5rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    place-items: center;
}
.box-btn{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

@media only screen and (max-width: 1500px) {
  .cards-box {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    width: 300px;
  }
}

@media only screen and (max-width: 1300px) {
  .card {
    width: 250px;
  }
}
@media only screen and (max-width: 1200px) {
  .cards-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 310px;
  }
}
@media only screen and (max-width: 1000px) {
  .cards-box {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    width: 250px;
  }
}
@media only screen and (max-width: 900px) {
  .cards-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 350px;
  }
}
@media only screen and (max-width: 800px) {
  .cards-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 300px;
  }
}
@media only screen and (max-width: 700px) {
  .card {
    width: 260px;
  }
}
@media only screen and (max-width: 600px) {
  .cards-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 98%;
  }
}

