<main>
  <div class="box-img">
    <div class="text-img">
        <span class="title">Bem-vindo ao Adopet!</span>
        <span class="subtitle">Seu melhor amigo espera pela sua adoção!</span>
    </div>
    <div>
      <img src="/assets/img/cat1.png" alt=""  />
    </div>
  </div>
  <div class="box-login">
    <div class="content">
        <span>Fazer Login</span>
        <app-input placeholder="Usuário"></app-input>
        <app-input placeholder="Senha"></app-input>
        <app-button text="Login" [width100]=true ></app-button>
        <div class="social-network">
            <app-button text="Facebook" bg="dark-blue" [width100]=true></app-button>
            <app-button text="Google"  [width100]=true bg="blue"></app-button>
          </div>
          <div class="footer">
            <span class="link">Ainda não é um membro? <a href="">Cadastre-se já!</a></span>
          </div>
    </div>
  </div>
</main>
