button{
    width: 150px;
    height: 35px;
    border-radius: 4px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
  
    &:hover{
      transform: scale(1.05);
    }
  
}
button[type="primary"]{
    background-color: #FF9A22;
    color: #FFF;
}
button[type="secondary"]{
    color: #B85B2D;
    background-color: #FFF;

}
button[type='terciary']{
    background-color: #FFE3B3;
    color: #FF9A22;
    ;

}
button[bg="dark-blue"]{
    background-color: #566495;
    
}
button[bg="blue"]{
    background-color: #4385F5;
    
}
button[width100=true]{
    width: 100%;
}