<div [ngClass]="{ hidden: !openMenu }" class="box">
  <div class="content">
    <a (click)="clickCloseMenuAndRouting('/home/doar-pet')">Doar Pet</a>
    <div class="link-menu-meus-pets-window">
      <a id="link-box" (click)="clickOpenBox()"
        >Meus pets <img src="assets/icons/arrow-rigth.svg" alt="" srcset=""
      /></a>
      <div *ngIf="openBox" class="box-menu-meus-pets-window">
        <div class="content-box">
          <a (click)="clickCloseMenuAndRouting('/home/meus-pets/meu-interesse')">Interesses em adotar</a>
          <a (click)="clickCloseMenuAndRouting('/home/meus-pets/para-adocao')">Para Doar</a>
        </div>
      </div>
    </div>
    <a>Meus Dados</a>
  </div>
</div>
