main {
  width: 100%;
  display: flex;
  height: calc(100% - 5rem);
  position: relative;
}
.touch {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 500;
}
.box-search {
  width: 18.5rem;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
  transition: 0.4s;
  border-right: 1px solid #4747471a;

  & #closeBtn {
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 700;
    right: 15px;
    top: 15px;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
      background-color: #4747471a;
    }
  }
}

.box-animals {
  flex: 1;
  height: auto;
  overflow: scroll;
}
.cards-box {
  width: 100%;
  height: auto;
  padding: 2rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  place-items: center;
}
.card {
  width: 300px;
}
.control {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.blur {
  filter: blur(5px);
}
.arrow {
  position: fixed;
  left: 10px;
  bottom: 50px;
  transition: 0.3s;
  display: none;
}
.arrow-position-top {
  left: 200px;
  top: 100px;
}
.show-left {
  left: 0px !important;
}
.scroll-block {
  overflow: hidden;
}

@media only screen and (max-width: 1500px) {
  .cards-box {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    width: 300px;
  }
}

@media only screen and (max-width: 1300px) {
  .card {
    width: 250px;
  }
}
@media only screen and (max-width: 1200px) {
  .cards-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 310px;
  }
}
@media only screen and (max-width: 1000px) {
  .box-animals {
    flex: none;
    width: 100%;
    height: auto;
  }
  main {
    position: relative;
    height: auto;
  }
  .box-search {
    position: absolute;
    left: -18.5rem;
    z-index: 999;
  }
  .arrow {
    display: inline;
  }
  .cards-box {
    grid-template-columns: repeat(3, 1fr);
  }
  .card {
    width: 250px;
  }
}
@media only screen and (max-width: 900px) {
  .cards-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 350px;
  }
}
@media only screen and (max-width: 800px) {
  .cards-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 300px;
  }
}
@media only screen and (max-width: 700px) {
  .card {
    width: 260px;
  }
}
@media only screen and (max-width: 600px) {
  .cards-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 98%;
  }
}
// @media only screen and (max-width: 425px) {

//   .card {
//     width: 300px;
//   }
// }
// @media only screen and (max-width: 750px) {
//   .cards-box {
//     grid-template-columns: repeat(3, 1fr);
//   }

//   .box-animals,
//   main {
//     height: auto;
//   }
// }
// @media only screen and (max-width: 600px) {
//   .cards-box {
//     grid-template-columns: repeat(2, 1fr);
//   }
//   .card {
//     width: 200px;
//   }
// }
// @media only screen and (max-width: 500px) {
//   .cards-box {
//     grid-template-columns: repeat(2, 1fr);
//   }
//   .card {
//     width: 150px;
//   }
// }
// @media only screen and (max-width: 400px) {
//   .cards-box {
//     grid-template-columns: repeat(1, 1fr);
//   }
//   .card {
//     width: 250px;
//   }
// }
