<app-header [btnLogout]="true"></app-header>
<main (scroll)="hiddenSearch()">
  <div class="left" >
    <div class="box-search" [ngClass]="{ 'hidden-left': !boxSearchVisible }">
      <app-box-search></app-box-search>
      <div class="arrow" [ngClass]="{ rotate: !boxSearchVisible }">
        <app-arrow-close (eventClick)="onArrowClick()" />
      </div>
    </div>
  </div>
  <div class="box-animals">
    <div class="cards-box">
      <div class="card">
        <app-card-perfil-animal />
      </div>
      <div class="card">
        <app-card-perfil-animal />
      </div>
      <div class="card">
        <app-card-perfil-animal />
      </div>
      <div class="card">
        <app-card-perfil-animal />
      </div>
      <div class="card">
        <app-card-perfil-animal />
      </div>
      <div class="card">
        <app-card-perfil-animal />
      </div>
      <div class="card">
        <app-card-perfil-animal />
      </div>
      <div class="card">
        <app-card-perfil-animal />
      </div>
    </div>
    <div class="control"></div>
  </div>
</main>
