<app-modal-blank
  [open]="openModalPetDetails"
  (eventCloseModal)="openModalPetDetails = false"
>
  <app-pet-details-modal
    [pet]="pet"
    (eventClose)="openModalPetDetails = false"
    (eventInterest)="clickInterestIntPet()"
  />
</app-modal-blank>

<app-modal-blank
  [open]="openModalSuccessfulAdoption"
  (eventCloseModal)="openModalSuccessfulAdoption = false"
>
  <app-content-modal-successfull-adoption
    (eventClose)="openModalSuccessfulAdoption = false"
    [pet]="pet.nome"
  />
</app-modal-blank>

<app-touch-invisible
  [open]="boxSearchVisible"
  (eventClick)="boxSearchVisible = false"
></app-touch-invisible>

<loading-page *ngIf="!pets"/>
<main *ngIf="pets">
  <app-box-search
    (closeEvent)="boxSearchVisible = false"
    [open]="boxSearchVisible"
  ></app-box-search>
  <div
    class="box-animals"
    [ngClass]="{
      blur:
        boxSearchVisible || openModalPetDetails || openModalSuccessfulAdoption
    }"
  >
    <div class="cards-box">
      <div class="card" *ngFor="let pet of pets">
        <app-card-perfil-animal
          [animal]="pet"
          (eventClickcard)="onClickCard($event)"
        />
      </div>
    </div>
    <div class="control">
      <app-btn-control />
    </div>
  </div>
  <div *ngIf="!openModalPetDetails" class="arrow">
    <app-lupa-btn (eventClick)="onLupaClick()" />
  </div>
</main>
<router-outlet></router-outlet>
