<div [ngClass]="{ open: open }" class="box">
  <div (click)="onCloseClick()">
    <img src="/assets/icons/x-close.svg" alt="" srcset="" />
  </div>

  <div>
    <span>Pesquisar</span>
  </div>
  <form [formGroup]="formSearch" #formDir="ngForm">
    <select formControlName="especie">
      <option value="">Espécie</option>
      <option [value]="option" *ngFor="let option of petsMaisComuns">
        {{ option }}
      </option>
    </select>
    <select formControlName="sexo">
      <option value="">Sexo</option>
      <option [value]="option" *ngFor="let option of ['Macho', 'Fêmea']">
        {{ option }}
      </option>
    </select>

    <div class="row">
      <app-input
        formControlName="idadeInicial"
        placeholder="0 anos"
        type="number"
        (input) = "maskAge()"
      ></app-input>
      <app-input
        formControlName="idadeFinal"
        placeholder="20 anos"
        type="number"
        (input) = "maskAge()"
      ></app-input>
    </div>
    <div class="group-checkBox">
      <app-input
        formControlName="castrado"
        type="checkbox"
        labelCheckBox="Castrado"
      />
      <app-input
        formControlName="cuidadosEspeciais"
        type="checkbox"
        labelCheckBox="Cuidados especiais"
      />
    </div>

    <app-button
      [type]="'terciary'"
      text="Procurar"
      [width100]="true"
      (clickEvent)="search()"
    />
  </form>
</div>
